<%= simple_form_for(@url) do |f| %>
<%= f.error_notification %>
  <div class="field">
    <div class="control">
        <%= f.input :long_url, as: :text, input_html: { class: "input", placeholder: "Your URL"}, label: false, wrapper: false%>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.submit 'Shorten URL', class: "button is-link" %>
    </div>
  </div>
<% end %>
