<div class="hero-body">
  <div class="container has-text-centered">
    <div class="block">
      <h1 class="title is-1 is-strong">
        Get Short
      </h1>
      <p class="subtitle">
        A modern URL shortener with style
      </p>
    </div>
    <div class="block">
      <p>Enter a full URL in the box below and we will provide you a shorter URL.</p>
    </div>
    <%= render "urls/form" %>
  </div>
</div>
