<section class="hero is-primary is-fullheight">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 is-strong">
        Get Short
      </h1>
      <p class="subtitle">
        A modern URL shortener with style
      </p>
      <%= render "urls/form" %>
    </div>
  </div>

  <div class="hero-foot">
    <div class="container has-text-centered">
      <p>A Jacob Jones website</p>
     <div> 
  </div>
</section>