<div class="hero-body">
  <div class="container">
    <div class="block has-text-centered">
      <h2 class="title">Here is all the URLs we have shortened so far</h2>
    </div>
    <div class="block">
      <%= render "urls/table" %>
    </div>
  </div>
</div>
